.card {
  position: relative;

  border-radius: .5rem;

  width: calc(100vw - 20vw);
  height: calc(100vh - 20vw);

  background: rgba(255, 255, 255, 0.5);

  overflow: hidden;
}

.card-content {
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 3rem;

  z-index: 5;
}

.card-background {
  z-index: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
}
