.background {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0);

  transition: background-color 4s;
}
.background.light {
  background-color: #eeeeee;
}

.custom-font {
  font-family: MoonDance;
  font-size: 5rem;
}

.labels {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  padding: .5rem;

  text-align: center;
}

.sandglas {
  position: absolute;
  right: 10vw;
  bottom: 10vw;

  opacity: 0;

  transition: opacity 2s;
}
.sandglas.show {
  opacity: 1;
}
