<app-page [index]="2" [steps]="5" (stepChange)="step = $event" (activeUpdate)="$event ? load() : destroy()">
  <div class="tree" [class.init]="init > 2">
    <img src="/assets/images/site1/tree.svg">
  </div>
  <div class="dirt" [class.init]="init > 1">
    <img src="/assets/images/site1/dirt.svg">
  </div>

  <div class="labels">
    <label *ngIf="step >= 2" [@inOutAnimation]>
      Ignoriere nicht deine Furcht.
    </label>
    <label *ngIf="step >= 3" [@inOutAnimation]>
      Missachte nicht die schlechten Dinge.
    </label>
    <label *ngIf="step >= 4" [@inOutAnimation]>
      Werde dir deiner Furcht bewusst.
    </label>
    <label *ngIf="step >= 5" [@inOutAnimation]>
      Behüte dich nicht immer in der optimistischsten Hoffnung.
    </label>
  </div>
</app-page>
