<app-page (stepChange)="step = $event" [steps]="2" [index]="1">
    <div class="position-absolute w-100 h-50 d-flex flex-column align-items-center">
      <div class="d-flex flex-column flex-nowrap title">
        <span style="font-weight: bold; font-size: 3em;">Wie du deine Angst überwindest</span>
        <span style="font-size: 2.5em;" class="flex-grow-0" *ngIf="step >= 2" [@inOutAnimation]>nach Seneca</span>
      </div>
    </div>
    <ng-template #seneca>
      <img src="/assets/images/seneca.png" class="seneca-image" *ngIf="step >= 2" [@animateOpacity]>
    </ng-template>
    <app-wave [template]="seneca"></app-wave>
</app-page>
