.background {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: #000000;
}

.image {
  position: absolute;
  right: 5vw;
  bottom: 5vw;

  opacity: .3;

  width: 30vw;
  height: auto;
}

.labels {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

.labels label {
  position: relative;

  max-width: 70%;
}
