<div class="pages">
  <app-sidebar></app-sidebar>

  <img src="/assets/images/amplonius.png" alt="nothing" class="image">

  <app-page [height]="1" [transitionHeight]="0.2">
    <app-intro-page></app-intro-page>
  </app-page>

  <app-page [height]="1" [transitionHeight]="0.4">
    Hallo2
  </app-page>

  <app-page [height]="1" [transitionHeight]="0.4">
    Hallo3
  </app-page>

  <!-- Delimiter for last page -->
  <div style="position: relative; width: 100vw; height: calc(50vh + 8rem)"></div>
</div>
