.interaction {
  position: absolute;

  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5rem;
}

@keyframes prompt-animation {
  0%, 100% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
}

.prompt {
  padding-top: 1rem;

  animation: prompt-animation 4s infinite;

  user-select: none;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
