.interaction {
  position: absolute;

  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: 50;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5rem;

  pointer-events: none;
}

@keyframes prompt-animation {
  0%, 100% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
}

.prompt {
  padding-top: 1rem;

  animation: prompt-animation 4s infinite;

  user-select: none;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.interaction-button {
  z-index: 50;

  position: absolute;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);

  right: 0;
  top: 0;

  height: 7rem;
  width: 15rem;

  border-bottom-left-radius: .5rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  text-wrap: nowrap;

  font-weight: bold;

  font-size: 1.5rem;

  transition: background-color 1s;
}
.interaction-button:hover:active {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .interaction-button {
    height: 3rem;
    width: 100vw;
    font-size: 12px;
    border-radius: 0;
  }
}
