$color: #e67e22;
$bg: #f3f3f3;

.wrapper {
  position: relative;
  width: 50px;
  height: 100px;
  transform-origin: center center;
  animation: rotate 3s .75s ease-in-out infinite;
  &:before,
  &:after {
    z-index: -1;
    content: "";
    border: solid 4px rgba(black, .2);
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 50%;
    clip-path: inset(0 60% 0 0);
    width: 100%;
    height: 50%;
    animation: shadow 3s .75s linear infinite;
    opacity: 0;
  }
  &:after {
    position: absolute;
    top: -1px;
    left: -18px;
  }
  &:before {
    position: absolute;
    bottom: -1px;
    right: -18px;
    transform: rotate(180deg);
  }
}

.clock {
  position: relative;
  width: 0;
  height: 0;
  border: {
    top: solid 50px $color;
    bottom: solid 25px transparent;
    left: solid 25px transparent;
    right: solid 25px transparent;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: -20px;
    top: -47px;
    width: 0;
    height: 0;
    border: {
      top: solid 44px $bg;
      bottom: solid 20px transparent;
      left: solid 20px transparent;
      right: solid 20px transparent;
    }
  }
  &:after {
    border: {
      top: solid 44px $color;
    }
    will-change: transform;
    animation: clock1 3s linear infinite;
  }
  &:last-child {
    transform: rotate(180deg) translateY(50px);
    &:after {
      transform: scale(0);
      animation: clock2 3s linear infinite;
    }
  }
}

@keyframes clock1 {
  20%, 50% {
    transform: scale(0);
  }
  70%, 100% {
    transform: scale(1);
  }
}

@keyframes clock2 {
  20%, 50% {
    transform: scale(1);
  }
  70%,100% {
    transform: scale(0);
  }
}

@keyframes shadow {
  10% {
    opacity: 1;
  }
  20%, 50% {
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  70%,100%{
    opacity: 0;
  }
}

@keyframes rotate {
  20%, 50% {
    transform: rotate(180deg);
  }
  70%, 100% {
    transform: rotate(360deg);
  }
}
