/* You can add global styles to this file, and also import other style files */
// https://colorhunt.co/palette/0f044c141e61787a91eeeeee

@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "Varela";
  src: url("/assets/fonts/VarelaRound-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MoonDance";
  src: url("/assets/fonts/MoonDance-Regular.ttf") format("truetype");
}

body {
  overflow-x: hidden;;
  overflow-y: hidden;
  background-color: rgb(20, 20, 20);
  user-select: none;
  font-family: Varela;
  color: white;
}

//body {
//  color: white;
//  font-family: Varela;
//}
